header {
  margin: 10px;
  display: flex;
  justify-content: left;
  gap: 10px;
  color: white;
}

header > a {
  font-size: 2em;
  font-weight: bold;
}

header > span {
  font-size: 2em;
  font-weight: bold;
}
